extends ../templates/view.pug

block variables
    - var title = about.title
    - var current_slug = about.url
    - var static_folder_path = '../static'
    - var selected_menu_option = about.menu_item_id

block view_content
    // content
    .content
        section
            .container
                h2.text-center !{text.not_found_title}
                br
                br
                div
                    p.text-center !{text.not_found_line_1}
                    p.text-center !{text.not_found_line_2}
    // content end
