extends ../templates/view.pug

block append variables
    - var page_id = 'terms-conditions-page'
    - var current_slug = terms_conditions.url
    - var selected_menu_option = terms_conditions.menu_item_id
    - var title = terms_conditions.title
    - var static_folder_path = '../static'
    - var imagens_path = static_folder_path + '/images'

block view_content
    .content
        section
            .container
                .section-title
                    h2 #{terms_conditions.title}
                div
                    p #{terms_conditions.text.line_1}
                    p #{terms_conditions.text.line_2}
