extends ../../templates/view.pug

block variables
    - var title = works['coimbra-old-town'].title
    - var current_slug = 'work/' + works['coimbra-old-town'].slug
    - var static_folder_path = '../../static'
    - var selected_menu_option = works['coimbra-old-town'].menu_item_id
    - var selected_works_is_active = true
    - var work = works['coimbra-old-town']
    - var work_imagens_path = static_folder_path + '/images/work/coimbra-old-town'

block view_content
    // content
    .content
        section
            .container
                h2.text-center !{text.not_found_title}
                br
                br
                div
                    p.text-center !{text.not_found_line_1}
                    p.text-center !{text.not_found_line_2}
    // content end
