extends ../../templates/view.pug

block append variables
    - var work = works['coimbra-old-town']
    - var page_id = 'coimbra-old-town-work-page'
    - var current_slug = 'work/' + work.slug
    - var selected_menu_option = work.menu_item_id
    - var selected_works_is_active = true
    - var title = work.title
    - var static_folder_path = '../../static'
    - var work_imagens_path = static_folder_path + '/images/work/coimbra-old-town'

block view_content
    .content
        section
            .container
                h2.text-center !{text.not_found_title}
                br
                br
                div
                    p.text-center !{text.not_found_line_1}
                    p.text-center !{text.not_found_line_2}
