extends templates/layout.pug

block append variables
    - var static_folder_path = 'static'

block append scripts
    - var langJsLoop = '';
    - for (var i=0; i<languages.length; i++) {
    -   langJsLoop += '\n;if ("' + languages[i].title + '" === languageCookieValue) { window.location = "' + languages[i].base_url + '"; return; }'
    - }
    
    script(type='text/javascript').
        $(document).ready(function() {
            let languageCookieValue = Gallery.Utils.getCookie(Gallery.Cookies.LanguageCookieName);
            if (languageCookieValue) { !{langJsLoop}
            }
            window.location = '#{base_url}';
        });
